@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$fontfamily-body: 'Inter', sans-serif;
$fontfamily-title: 'Lexend Deca', sans-serif;

body {
    font-size: $fontbase;
    font-family: $fontfamily-body;
    color: $whiteMoreSlight;
}

h1 {
    font-size: 29px;
    font-family: $fontfamily-title;
    color: $white;

    margin: ($gutter*2) 0 $gutter;
}

.purple__text {
    color: $medium-purple;
}