body {
    background: $ebony;
    padding: ($gutter*4) $gutter;
}

main {
    background: $port-gore;
    border-radius: 8px;
}

.img__container {
    background: $medium-purple;

    img {
        display: block;
        max-width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        opacity: 0.5;
    }
}

.texts__container {
    padding: $gutter ($gutter*2) ($gutter*2) ($gutter*2);

    .title {
        text-align: center;
    }

    p {
        text-align: center;
        line-height: 1.4;
    }
}

.benefits__list {
    margin-top: ($gutter/2);
    text-align: center;

    li {
        margin-top: ($gutter*2);
        text-transform: uppercase;

        span {
            display: block;
            color: $white;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: ($gutter/2);
            text-transform: lowercase;
        }
    }
}