$mobile: 375px;
$desktop: 1440px;

$gutter: 16px;

$fontbase: 15px;

//Colors

// ### Primary
$ebony: #090B1A;
$port-gore: #1B1938;
$medium-purple: #AA5CDB;

// ### Neutral
$white: #fff;
$whiteSlight: rgba(255, 255, 255, 0.75);
$whiteMoreSlight: rgba(255, 255, 255, 0.6);
